
@{
    ViewBag.Title = "DietView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Badger Diet</h2>
<p>The staple food of badgers is usually earthworms which generally make up around 80% of their diet. They can eat several hundred worms each night. But being omnivorous, they will eat almost anything, from flesh and fruit to bulbs and bird eggs.
Although the bulk of their diet is made up of earthworms, they also eat slugs and insects and have a keen sense of smell and sharp claws that can root up grubs from under the soil surface.
Fruit also features on the menu, including apples, pears, plums and elderberries - you can often find elder bushes growing near to the setts. They will eat nuts, seeds and acorns along with crops like wheat and sweetcorn.
Badgers are known to eat small mammals mice, rats, rabbits, frogs, toads and hedgehogs. Their keen sense of smell and long claws are well adapted to locating and digging into the burrows and nests of small mammals.
They will also take advantage of animal carcasses and carrion they come across. In times of food shortage, badgers may also raid bins in search of food.
</p>

