
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Gallery of Badgers</h2>

<a><img height="200" width="200" src="../../Content/Badger 1.jpg"/></a>
<a><img height="200" width="200" src="../../Content/Badger 1.jpg" /></a>

<a><img height="200" width="200" src="../../Content/Badger 1.jpg" /></a>

<a href="@Url.Action("Edit", new {id = 1})"><img height="200" width="200" src="../../Content/Badger 1.jpg" /></a>




