@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="../../Content/badger.jpg" width="700" height="350" />
</div>
<div>
    <h1>Increasing Badger knowledge!!</h1>
</div>
@*<div class="row">
        <div class="col-md-4">
            <h2>Welcome to the Badger site!</h2>
            <p>
                This is a site about Badgers. Badgers are wonderful.  So are you.  Please take your time and look around our
                site for info for Badgers.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@